<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="./assets/img/faces/face-0.jpg" class="img-responsive">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Yasiru Randeepa
          </div>
          <div class="profile-usertitle-job">
            Developer
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
                <i class="glyphicon glyphicon-home"></i>
                Overview </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                Account Settings </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="glyphicon glyphicon-ok"></i>
                Tasks </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-flag"></i>
                Help </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <div class="container-fluid p-0">

          <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
              <h1 class="mb-0">Yasiru
                <span class="text-danger">Randeepa</span>
              </h1>
              <div class="subheading mb-5">"Shantha", Thanabaddegama, Ethkandura. 0716220786
                <a href="mailto:yasirurandeepa.yr@gmail.com">yasirurandeepa.yr@gmail.com</a>
              </div>
              <p class="mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
              <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                  <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                  </a>
                </li>
              </ul>
            </div>
          </section>
          <br><br>
          <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
              <h2 class="mb-5">Education</h2>

              <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">University of Moratuwa</h3>
                  <div class="subheading mb-3">Bsc Engineering(Hons)</div>
                  <div>Computer Science & Engineering</div>
                  <p>GPA: 3.25</p>
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">November 2015 - December 2019</span>
                </div>
              </div>

              <!--<div class="resume-item d-flex flex-column flex-md-row">-->
                <!--<div class="resume-content mr-auto">-->
                  <!--<h3 class="mb-0">James Buchanan High School</h3>-->
                  <!--<div class="subheading mb-3">Technology Magnet Program</div>-->
                  <!--<p>GPA: 3.56</p>-->
                <!--</div>-->
                <!--<div class="resume-date text-md-right">-->
                  <!--<span class="text-primary">August 2002 - May 2006</span>-->
                <!--</div>-->
              <!--</div>-->

            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <p class="copyright">
    &copy; {{test | date: 'yyyy'}} <a href="https://www.linkedin.com/in/yasiru- randeepa-760449129/">Yasiru Randeepa</a>
  </p>
</div>
<br>
<br>

