<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text" style="cursor: pointer">
            Blood Donation Management System
        </a>
    </div>
    <ul class="nav responsive-nav">

        <li *ngIf="isMobileMenu()">
            <a (click)="logout()" style="cursor: pointer">
                <i class="pe-7s-back"></i><p>Log out</p>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
